body, p, h1, ul, li, blockquote {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Vollkorn", Georgia, serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

/* GENERAL GRID */

.structure {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas:
        "header header header"
        "sidenav content announcements"
        "footer footer footer"
    ;
}

@media (max-width: 1200px) {
    .structure {
        grid-template-areas:
            "header header footer"
            "sidenav content content"
            "sidenav announcements announcements"
            "footer footer footer"
        ;
    }
}

@media (max-width: 760px) {
    .structure {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "sidenav"
            "content"
            "announcements"
            "footer"
        ;
    }
}

/* HEADER */

.header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo {
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.125em;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    transition: 0.1s;
}

.header nav a:hover {
    background: rgba(0,0,0,.5);
}

.header li + li {
    margin-left: 30px;
}

@media (max-width: 760px) {
    .header {
        grid-template-columns: auto;
    }
    .logo {
        margin-bottom: 20px;
    }
    .header nav a {
        font-size: 1em;
    }
    .header li + li {
        margin-left: 10px;
    }
}

/* SIDENAV */

.sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px;
}

.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 rgba(44,44,44,0.15);
    transition: .1s ease-out;
}

.sidenav li a:hover {
    background: #b07dfb;
}

@keyframes arrow {
    from {
        right: 30px;
    }
    to {
        right: 20px;
    }
}

@media (max-width: 760px) {
    .sidenav ul {
        display: flex;
    }
    .sidenav li {
        flex: 1 0 60px;
    }
    .sidenav {
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        padding: 0 30px;
    }
    .sidenav::after {
        content: 'âž';
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0,0,0,.3);
        animation: arrow .5s ease-in 0s infinite alternate;
    }
    .sidenav li a {
        margin: 30px 30px 30px 0;
    }
}

/* CONTENT */

.content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.col-wide {
    grid-column: 1 / -1;
}

.image-1 {
    grid-row: span 2;
    align-self: end;
}

.image-2 {
    align-self: end;
}

/* CONTENT STYLE */

p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0,0,0,.7);
}

.informations p + p{
    margin-top: 30px;
}

/* TITLE */

.title {
    color: #b07dfb;
}

.title h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.title span {
    font-size: 0.875em;
    font-style: italic;
}

/* CHARACTERISTICS */

.characteristics {
    display: flex;
    align-items: flex-start;
}

.characteristics > div {
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 rgba(44,44,44,0.15);
    position: relative;
}

.characteristics > div:first-child {
    margin-right: 30px;
}

.characteristics span {
    display: block;
    color: #b07dfb;
}

.number {
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}

.label {
    background: white;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative;
    top: 2px;
}

.spotlight {
    font-size: 0.875em;
    color: #b07dfb;
    max-width: 16em;
}

.quote, .attributes {
    align-self: start;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 5px 5px 15px 0 rgba(44,44,44,0.15);
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.quote p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;
}

.attributes li {
    color: white;
    font-family: Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
}

.attributes li + li {
    border-top: 2px solid #b07dfb;
}

/* ANNOUNCEMENT */

.announcements {
    grid-area: announcements;
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    grid-gap: 30px;
}

/* FOOTER */

.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.footer p {
    color: white;
    text-align: center;
    padding: 30px;
}